<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="post" action="{% url 'login_user' %}">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required><br>
            <button type="submit">Login</button>
        </form>
        {% comment %} Checking for any errors messages {% endcomment %}
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <p>Don't have an account? <a href="{% url 'register_user' %}">Register Here</a></p>
    </body>
</html>