<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Logout</title>
    </head>
    <body>
        <div class="container">
            <h2>Logout</h2>
            <p>Are you sure to logout?</p>
            <form method="POST" action="{% url 'logout_user' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
                <a href="{% url 'home' %}">Cancel</a>
            </form>
        </div>
    </body>
</html>